 .form{
    display: flex;
    align-items: center;
    justify-content: center;    
    border: 1px solid black;
    border-radius: 0.5em;
    width: 400px;
    height:500px;
    margin: auto;
} 
#message{
    height: 100px;
    width: 300px;
    border-radius: 1px;
    margin: 10px;
}
body{
    display: flex;
    align-content: center ;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.btnEnviar{
    margin-left: 150px;

}